.content__create-appointments {  
  height: 100%;
}

.content__create-appointments form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.content__create-appointments form input,
.content__create-appointments form select {
  width: 16rem;
  padding: 0.35rem 0.5rem;
  border: none;
  margin-top: 0.25rem;
  margin-bottom: 1.5rem;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content__create-appointments form input:focus,
.content__create-appointments form select:focus {
  outline: none;
}

.content__create-appointments form select {
  cursor: pointer;
}

.content__create-appointments form .submit-button {
  height: 2rem;
  width: 80%;
  margin-top: 2rem;
  cursor: pointer;
  font-family: sans-serif;
}

.content__see-appointments {
  height: 100%;
  width: 45%;
  
  display: grid;
  grid-template-rows: 5rem 1fr;

  /* display: grid; */
}