.content__create-contacts {
  height: 100%;
}

.content__create-contacts form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.content__create-contacts form input {
  width: 16rem;
  padding: 0.35rem 0.5rem;
  border: none;
  margin-top: 0.25rem;
  margin-bottom: 1.5rem;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content__create-contacts form input:focus {
  outline: none;
}

.content__create-contacts form .submit-button {
  height: 2rem;
  width: 80%;
  margin-top: 2rem;
  cursor: pointer;
  font-family: sans-serif;
}

.content__see-contacts {
  height: 100%;
  width: 45%;
  
  display: grid;
  grid-template-rows: 5rem 1fr;
}