.layout {
  height: 100%;
  
  outline: 1px solid red;

  display: grid;
  grid-template-rows: 3.5rem 1fr;
}

.layout__navbar {
  background-color: #4B2F94;
  padding: 1rem 0;
}

.layout__navbar a {
  color: whitesmoke;
  text-decoration: none;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease;
}

.layout__navbar a.active {
  background-color: #311E60;
}

.layout__content {
  height: 100%;
  padding: 2rem;
  text-align: center;
  
  display: grid;
}