.layout {
  height: 100%;

  display: grid;
  grid-template-rows: 3.5rem 1fr;
}

.layout__navbar {
  background-color: #4B2F94;
  padding: 1rem 0;
}

.layout__navbar a {
  color: whitesmoke;
  text-decoration: none;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease;
}

.layout__navbar a.active {
  background-color: #311E60;
}

.layout__content {
  height: 100%;
  padding: 2rem;
  text-align: center;
  
  display: flex;
  flex-direction: column;
}

.specific-info {
  height: 60%;
  width: 50%;
  min-width: 30rem;
  text-align: center;
  padding: 2rem;
  place-self: center;
  outline: 1px solid #8C71D2;
  box-shadow: 7px 7px 1px #4B2F94;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.specific-info h3 {
  place-self: center;
}

.layout__content h2 {
  height: 3rem;
  width: fit-content;
  place-self: center;
  text-align: center;
  padding-bottom: 0.75rem;
  border-bottom: 2px solid #8C71D2;
}

.content__hero {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content__hero h1 {
  margin-bottom: 3rem;
}

.hero__socials {
  height: 5rem;
  width: 50%;
  min-width: 12rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero__socials a {
  color: #8C71D2;
  transition: all 0.15s linear;
}

.hero__socials a:hover {
  color: #4B2F94;
}

.hero__socials a svg {
  height: 2.5rem;
  width: 2.5rem;
}

.content__wrapper {
  height: 100%;
  padding: 1rem 0;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.info__wrapper {
  height: 20rem;
  overflow: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, 256px);
  place-content: start center;
  gap: 1.5rem;
}

.info__wrapper a {
  color: white;
  text-decoration: none;
}

.info__card {
  height: 3.5rem;
  width: 16rem;
  border: 1px solid #555;
  cursor: pointer;
  box-shadow: 3px 3px 1px #4B2F94;
  transition: all 0.2s linear;

  display: grid;
  grid-template-columns: 1fr 60px;
}

.card__text {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card__delete {
  height: 100%;
  cursor: pointer;
  background-color: #3a3a3a;
  transition: all 0.1s linear;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card__delete:hover {
  background-color: #333;
}

.info__card:hover {
  box-shadow: 3px 3px 1px #3f277a;
}

.button-back {
  height: 2.25rem;
  width: 6rem;
  color: white;
  background-color: #4B2F94;
  font-size: 0.95rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-top: 5rem;
  place-self: center;
  transition: all 0.15s linear;
}

.button-back:hover {
  background-color: #3f277a;
}

@media only screen and (max-width: 700px) {

  .content__wrapper {
    flex-direction: column;
    gap: 2rem;
  }

  .content__see-contacts,
  .content__see-appointments {
    min-width: 100%;
  }
}